In [408]:
from generator import *
from shredder import *
from fitter import *
from exec_tools import run
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
from joblib import Parallel, delayed
from math import sqrt
import time
import itertools
#np.random.seed(10)

In [409]:
data_gen_dict = config_maker(2, 10, [.5], [[1,2]],[5])
data_gen_dict = config_maker(4, 10, [1,1,1], [],[])

In [ ]:
estimates = list()
in_ci = list()
for iters in range(10000):
    fit_data, test_data, true_coeffs = generate_ind_model(
                                            data_gen_dict["dist_list"],
                                            data_gen_dict["main_coeffs"],
                                            data_gen_dict["interaction_coeffs"],
                                            data_gen_dict["interactions"],
                                            intercept=10,
                                            n=100,
                                            beta_sigma=.1
                                        )

    tmp_data = fit_data.copy(deep=True)
#     tmp_data = uniform_shred_cols(['x1'], .01, tmp_data)
#     tmp_data = tmp_data.dropna()
    model, metrics = fit_lm(tmp_data, test_data)
    b_estimate_results = beta_target_check(metrics, true_coeffs, as_dataframe=False)
    in_ci.append([b_estimate_results[key]['in_ci'] for key in b_estimate_results.keys()])
    
    estimates.append(model.params.values)

estimates_df = pd.DataFrame(estimates, columns=model.params.index)
in_ci_df = pd.DataFrame(in_ci)

In [523]:
print(estimates_df.mean())
print(pd.DataFrame(in_ci_df.mean().values, columns=['% on target'], index=estimates_df.mean().index))

const    10.001262
x1        5.004447
x2        1.987765
x1:x2     3.998084
dtype: float64
       % on target
const        0.956
x1           0.957
x2           0.956
x1:x2        0.947

In [5]:
tmp_data = fit_data.copy(deep=True)
tmp_data = uniform_shred_cols(['x1'], 0, tmp_data)

test = pd.DataFrame(np.array([tmp_data['x1'], fit_data['x1']]).T, columns=['x1_altered', 'x1_original'])
print(test)
test[['x1_altered', 'x1_original']].assign(NE=test.x1_altered == test.x1_original)

    x1_altered  x1_original
0     0.522054     0.522054
1     0.879428     0.879428
2     0.762485     0.762485
3     0.864024     0.864024
4     0.722210     0.722210
5     0.531083     0.531083
6     0.613244     0.613244
7     0.629536     0.629536
8     0.959190     0.959190
9     0.177162     0.177162
10    0.597171     0.597171
11    0.614091     0.614091
12    0.732349     0.732349
13    0.893135     0.893135
14    0.475235     0.475235
15    0.255864     0.255864
16    0.674234     0.674234
17    0.096581     0.096581
18    0.210147     0.210147
19    0.186248     0.186248
20    0.340971     0.340971
21    0.683949     0.683949
22    0.424472     0.424472
23    0.508685     0.508685
24    0.511914     0.511914
25    0.715462     0.715462
26    0.874424     0.874424
27    0.123111     0.123111
28    0.412546     0.412546
29    0.965554     0.965554
..         ...          ...
70    0.839825     0.839825
71    0.585306     0.585306
72    0.650935     0.650935
73    0.255413     0.255413
74    0.418857     0.418857
75    0.355845     0.355845
76    0.416435     0.416435
77    0.002196     0.002196
78    0.763807     0.763807
79    0.468647     0.468647
80    0.994098     0.994098
81    0.785962     0.785962
82    0.823252     0.823252
83    0.237213     0.237213
84    0.837575     0.837575
85    0.360686     0.360686
86    0.072849     0.072849
87    0.754133     0.754133
88    0.109701     0.109701
89    0.929735     0.929735
90    0.731665     0.731665
91    0.097651     0.097651
92    0.232821     0.232821
93    0.103844     0.103844
94    0.848986     0.848986
95    0.772388     0.772388
96    0.185922     0.185922
97    0.435782     0.435782
98    0.340555     0.340555
99    0.823082     0.823082

[100 rows x 2 columns]

    x1_altered  x1_original    NE
0     0.522054     0.522054  True
1     0.879428     0.879428  True
2     0.762485     0.762485  True
3     0.864024     0.864024  True
4     0.722210     0.722210  True
5     0.531083     0.531083  True
6     0.613244     0.613244  True
7     0.629536     0.629536  True
8     0.959190     0.959190  True
9     0.177162     0.177162  True
10    0.597171     0.597171  True
11    0.614091     0.614091  True
12    0.732349     0.732349  True
13    0.893135     0.893135  True
14    0.475235     0.475235  True
15    0.255864     0.255864  True
16    0.674234     0.674234  True
17    0.096581     0.096581  True
18    0.210147     0.210147  True
19    0.186248     0.186248  True
20    0.340971     0.340971  True
21    0.683949     0.683949  True
22    0.424472     0.424472  True
23    0.508685     0.508685  True
24    0.511914     0.511914  True
25    0.715462     0.715462  True
26    0.874424     0.874424  True
27    0.123111     0.123111  True
28    0.412546     0.412546  True
29    0.965554     0.965554  True
..         ...          ...   ...
70    0.839825     0.839825  True
71    0.585306     0.585306  True
72    0.650935     0.650935  True
73    0.255413     0.255413  True
74    0.418857     0.418857  True
75    0.355845     0.355845  True
76    0.416435     0.416435  True
77    0.002196     0.002196  True
78    0.763807     0.763807  True
79    0.468647     0.468647  True
80    0.994098     0.994098  True
81    0.785962     0.785962  True
82    0.823252     0.823252  True
83    0.237213     0.237213  True
84    0.837575     0.837575  True
85    0.360686     0.360686  True
86    0.072849     0.072849  True
87    0.754133     0.754133  True
88    0.109701     0.109701  True
89    0.929735     0.929735  True
90    0.731665     0.731665  True
91    0.097651     0.097651  True
92    0.232821     0.232821  True
93    0.103844     0.103844  True
94    0.848986     0.848986  True
95    0.772388     0.772388  True
96    0.185922     0.185922  True
97    0.435782     0.435782  True
98    0.340555     0.340555  True
99    0.823082     0.823082  True

[100 rows x 3 columns]

In [6]:
print(true_coeffs)
print(model.summary())

{'x1': 10, 'x2': 10, 'x3': 10, 'x4': 10, 'const': 10}
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 9.403e+30
Date:                Fri, 02 Mar 2018   Prob (F-statistic):               0.00
Time:                        14:56:06   Log-Likelihood:                 1576.0
No. Observations:                  50   AIC:                            -3142.
Df Residuals:                      45   BIC:                            -3133.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         10.0000   3.42e-15   2.93e+15      0.000      10.000      10.000
x1            10.0000   2.85e-15   3.51e+15      0.000      10.000      10.000
x2            10.0000    2.9e-15   3.44e+15      0.000      10.000      10.000
x3            10.0000   2.46e-15   4.06e+15      0.000      10.000      10.000
x4            10.0000   2.75e-15   3.64e+15      0.000      10.000      10.000
==============================================================================
Omnibus:                        2.992   Durbin-Watson:                   0.969
Prob(Omnibus):                  0.224   Jarque-Bera (JB):                2.394
Skew:                           0.535   Prob(JB):                        0.302
Kurtosis:                       3.063   Cond. No.                         9.33
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
model.params.values

array([ 10.,  10.,  10.,  10.,  10.])

# Rewrite of the Invert 
It seems that it still only works to invert if only one column is missing. If more than one is missing then you're still out of luck.

In [508]:
#data_gen_dict = config_maker(3, 5, [.4, .4], [[1,2], [1,3], [2,3]],[5, 10, 8])
data_gen_dict = config_maker(
    2,
    5,
    [.4],
    [
        [1,2]
    ], 
    [4])
#data_gen_dict = config_maker(1, 10, [], [],[])
fit_data, test_data, true_coeffs = generate_ind_model(
                                        data_gen_dict["dist_list"],
                                        data_gen_dict["main_coeffs"],
                                        data_gen_dict["interaction_coeffs"],
                                        data_gen_dict["interactions"],
                                        intercept=1,
                                        n=100,
                                        beta_sigma=.2
                                    )

# Drop some data
#tmp_data = uniform_shred_cols(['x2'], .5, fit_data)
tmp_data = fit_data.copy()
tmp_data = uniform_shred_cols(['x2'], .4, tmp_data)
tmp_data = uniform_shred_cols(['x1'], .1, tmp_data)


import importlib
import fixer
importlib.reload(fixer)

inverted,  fitted = fixer.olsinv_singlex(tmp_data, 'x2', test_mode=False)

print(tmp_data.head(10))
print(inverted.head(10))

tmp_data.loc[inverted.index, 'x2'] = inverted

inverted,  fitted = fixer.olsinv_singlex(tmp_data, 'x1', test_mode=False)

print(tmp_data.head(10))
print(inverted.head(10))

tmp_data.loc[inverted.index, 'x1'] = inverted
print(tmp_data.head(40))

         x1        x2     x1:x2          y
0  0.380700       NaN  0.154304   5.621569
1  0.416614       NaN  0.397601   7.147583
2  0.864448  0.230721  0.199446   7.069593
3  0.206235  0.862755  0.177931   3.867554
4  0.786126  0.582451  0.457879   8.024719
5  0.228217  0.581049  0.132605   3.949757
6  0.767155       NaN  0.688854  10.206997
7  0.747678       NaN  0.667406   8.046303
8  0.594156  0.948097  0.563318   8.083091
9  0.995979       NaN  0.727283  12.431498
0     0.759323
1     1.079644
6     1.030385
7     0.647650
9     1.047196
11    0.031282
15    0.579573
23    1.229719
24    0.854970
27    0.203789
Name: y, dtype: float64
         x1        x2     x1:x2          y
0  0.380700  0.759323  0.154304   5.621569
1  0.416614  1.079644  0.397601   7.147583
2  0.864448  0.230721  0.199446   7.069593
3  0.206235  0.862755  0.177931   3.867554
4  0.786126  0.582451  0.457879   8.024719
5  0.228217  0.581049  0.132605   3.949757
6  0.767155  1.030385  0.688854  10.206997
7  0.747678  0.647650  0.667406   8.046303
8  0.594156  0.948097  0.563318   8.083091
9  0.995979  1.047196  0.727283  12.431498
14    0.755882
17    0.282219
45    0.505566
62    0.323086
67    0.456903
Name: y, dtype: float64
          x1        x2     x1:x2          y
0   0.380700  0.759323  0.154304   5.621569
1   0.416614  1.079644  0.397601   7.147583
2   0.864448  0.230721  0.199446   7.069593
3   0.206235  0.862755  0.177931   3.867554
4   0.786126  0.582451  0.457879   8.024719
5   0.228217  0.581049  0.132605   3.949757
6   0.767155  1.030385  0.688854  10.206997
7   0.747678  0.647650  0.667406   8.046303
8   0.594156  0.948097  0.563318   8.083091
9   0.995979  1.047196  0.727283  12.431498
10  0.263695  0.693317  0.182824   2.856877
11  0.836589  0.031282  0.333707   5.325330
12  0.466805  0.059124  0.027599   3.914805
13  0.658477  0.573794  0.377831   6.876474
14  0.755882  0.922718  0.584378   9.460678
15  0.404610  0.579573  0.259026   5.134405
16  0.114693  0.843336  0.096725   2.885043
17  0.282219  0.897242  0.385319   5.576067
18  0.166002  0.190442  0.031614   2.783833
19  0.976685  0.376659  0.367877   8.075839
20  0.717239  0.169868  0.121836   5.489280
21  0.820256  0.330945  0.271460   6.179366
22       NaN       NaN  0.926790  12.334835
23  0.193411  1.229719  0.184939   5.477823
24  0.915256  0.854970  0.898461  10.554236
25  0.868901  0.111267  0.096680   7.246490
26  0.537350  0.910748  0.489391   9.159646
27  0.062615  0.203789  0.006499   1.670446
28  0.467253  0.389107  0.181811   5.288618
29  0.794083  0.355661  0.177701   6.840204
30  0.963694  0.668281  0.644018   9.161102
31  0.873131 -0.255974  0.052132   3.887015
32  0.737451  0.328892  0.242541   7.560381
33  0.982334  0.789891  0.799252  10.730848
34  0.857054  0.290088  0.015587   6.885510
35  0.536580  0.335255  0.179891   3.117737
36  0.452382  0.033379  0.015100   3.343511
37  0.646308  0.057617  0.037238   2.197899
38  0.423498  0.767216  0.324915   5.302904
39  0.008564  0.347901  0.002980   1.280942